#contentContainer {
    overflow:hidden;
}

#contentContainer .textContent {
	float:left;
	width:80%;
}

#contentContainer #topicSpecificSubnavigation {
    float:right;
    width:18%;
    border:1px solid #E8F3F7;
}

#contentContainer #topicSpecificSubnavigation .title{
    padding-top:1px;
    padding-bottom:1px;
    background-color:#E8F3F7;
    text-align: center;
    font-weight: bold;
    overflow:hidden;
}

#contentContainer #topicSpecificSubnavigation .title .titleText{
    float:left;
    text-align: center;
    width:80%;
}

#contentContainer #topicSpecificSubnavigation .editLink{
    background-image:url(pencil.png);
    width:15px;
    height:15px;
    float:right;
    margin-right:15px;
}
