%TMPL:DEF{"topicspecificnavigation"}%<div id='topicSpecificSubnavigation'>
<ul>
<li class="listTop"><p>%MAKETEXT{Further Topics}%</p></li></ul>
<div class="topicSpecifciSubnavigationLinks"> %DISPLAYDBFIELD{ field="subnavigation" }%</div>
<ul>
<li class="listBottom">%EDITFIELDBUTTON{ type="subnavigation" field="subnavigation" format="<a class='editLink' href='%URL%' title='%MAKETEXT{Edit the topic specific navigation}%'></a>"}%</li></ul></div>%TMPL:END%