%{ This is a default template }%%TMPL:INCLUDE{"view"}%%TMPL:INCLUDE{"topicspecificnavigationbox"}%
%TMPL:DEF{"content"}%<div id="contentContainer"><div class="foswikiTopicText">%TEXT%</div>%TMPL:P{topicspecificnavigation}%</div>
#TopicEnd%TMPL:END%

